<!---<!DOCTYPE html>
<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>Catalog Project</title>
  </head>
  <body>
    <header>
      <h1>Udacity Sports Catalog</h1>
    </header>
    <div class = 'container'>
      <div class = 'navigation'>
        <h4>Sport:</h4>
        {% for i in links %}
        <a href='{{ url_for("catalog", category_name=i.name)}}'>{{i.name}}</a>
        <br>
        {% endfor %}
      </div>
      <div class = 'main'>-->
      {% extends "template.html" %}
      {% block content %}
        <h2>{{ category.name }}</h2>
        <div id = 'catalog'>
          {% if 'username' in session %}
            <a href="{{ url_for('newCatalogItem', category_name=category.name)}}">Add Item</a>
          {% endif %}
          <h3>Items:</h3>
            {% for i in items %}
            <a href="{{ url_for('catalogItem', category_name=category.name, item_id=i.id)}}"><img src="{{i.picture}}" alt="{{i.name}}" style="width:125px"></a><br>
            <a href="{{ url_for('catalogItem', category_name=category.name, item_id=i.id)}}">{{i.name}} -- {{i.price}}</a><br><br>
            {% endfor %}
        </div>
      {% endblock %}
      <!--</div>
    </div>
  </body>
</html>
