<!--<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')}}">
  </head>
  <body>
    <header>
      <h1>Udacity Sports Catalog</h1>
    </header>
    <div class = 'container'>
      <div class = 'navigation'>
        <h4>Sport:</h4>
        {% for i in links %}
        <a href='{{ url_for("catalog", category_name=i.name) }}'>{{i.name}}</a>
        <br>
        {% endfor %}
      </div>
      <div class = 'main'>-->
      {% extends "template.html" %}
      {% block content %}
        <form action='{{url_for("deleteCategory", category_name=category_name)}}' method='POST'>
          <p>
            Are you sure you want to delete {{category_name}}?
          </p>
          <input type='submit' value='Delete'>
          <a href='{{ url_for("showCategories", category_name=category_name) }}'>Cancel</a>
        </form>
      </div>
      {% endblock %}
    <!--</div>
  </body>
</html>-->
