<!--<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')}}">
  </head>
  <body>
    <header>
      <h1>Udacity Sports Catalog</h1>
    </header>
    <div class = 'container'>
      <div class = 'navigation'>
        <h4>Sport:</h4>
        {% for i in links %}
        <a href='{{ url_for("catalog", category_name=i.name)}}'>{{i.name}}</a>
        <br>
        {% endfor %}
      </div>
      <div class = 'main'>-->
      {% extends "template.html" %}
      {% block content %}
        <h2>{{category.name}}</h2>
        <h3>Edit {{item.name}}</h3>
        <form action='{{url_for("editCatalogItem", category_name = category.name, item_id=item.id)}}' method='POST'>

          <input type='text' size='30' name='name' label='Name of Item:' value='{{item.name}}'>

          <input type='text' size='10' name='price' label='Price:' value='{{item.price}}'><br>

          <input type='text' size='50' name='description' label='Description:' value='{{item.description}}'><br>

          <input type='text' size='50' name='img_url' label='Image URL' value='{{item.picture}}'><br>

          <input type='submit' value='Edit Item'>

          <a href='{{ url_for("catalog", category_name=category.name) }}'>Cancel</a>
        </form>
        {% endblock %}
      <!--</div>

    </div>
  </body>
</html>-->
