<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')}}">
  </head>
  <body>
    <header>
      <h1>{{category.name}}</h1>
      <h2>Edit {{item.name}}</h2>
    </header>
    <div class = 'container'>
      <div class = 'navigation'>
        <h4>Sport:</h4>
        {% for i in links %}
        <a href='{{ url_for("catalog", category_name=i.name)}}'>{{i.name}}</a>
        <br>
        {% endfor %}
      </div>
      <div class = 'main'>
        <form action='{{url_for("editCatalogItem", category_name = category.name, item_id=item.id)}}' method='POST'>
          <input type='text' size='30' name='name' label='Name of Item:' value='{{item.name}}'>
          <input type='text' size='10' name='price' label='Price:' value='{{item.price}}'>
          <input type='text' size='50' name='description' label='Description:' value='{{item.description}}'>
          <input type='submit' value='Edit Item'>
          <a href='{{ url_for("catalog", category_name=category_name) }}'>Cancel</a>
        </form>
      </div>
    </div>
  </body>
</html>
