<!--<!DOCTYPE html>
<html>
  <head>
    <title>Catalog Project</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <h1>Udacity Sports Catalog</h1>
      <div id='greeting'>
        {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
        <a href='/log'>{{login_button}}</a>
      </div>
    </header>
    <div class = 'container'>
      <div class = 'navigation'>
        <h4>Sport:</h4>
        {% for i in links %}
        <a href='{{ url_for("catalog", category_name=i.name)}}'>{{i.name}}</a>
        <br>
        {% endfor %}
      </div>
      <div class = 'main'>-->
      {% extends "template.html" %}
      {% block content %}
        <h4>Recently Added Items:</h4>
        {% for i in items %}
        <a href='{{ url_for("catalogItem", category_name=i.category['name'], item_id=i.id)}}'>{{i.name}}</a>
        <br>
        {% endfor %}
      {% endblock %}
      <!--</div>
    </div>
  </body>
</html>
