<!DOCTYPE html>
<html>
  <head>
    <title>Catalog Project</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <h1>Catalog App</h1>
    </header>
    <div class = 'container'>
      <div class = 'navigation'>
        <h4>Sport:</h4>
        {% for i in links %}
        <a href='{{ url_for("catalog", category_name=i.name)}}'>{{i.name}}</a>
        <br>
        {% endfor %}
      </div>
      <div class = 'main'>
        <h4></h4>
      </div>
    </div>
  </body>
</html>
