<!DOCTYPE html>
<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>Catalog Project</title>
  </head>
  <body>
    <header>
      <h1>Udacity Sports Catalog</h1>

    </header>
    <div class = 'container'>
      <div class = 'navigation'>
        <h4>Sport:</h4>
        {% for i in links %}
        <a href='{{ url_for("catalog", category_name=i.name)}}'>{{i.name}}</a>
        <br>
        {% endfor %}
      </div>
      <div class = 'main'>
        <h2>{{ item.name }}</h2>
        <div id = 'item'>
          <img src= {{item.picture}}>
          <p>{{item.description}}</p>
          <p>{{item.price}}</p>
          {% if 'username' in session %}
            <a href="{{url_for('editCatalogItem', category_name=category.name, item_id=item.id)}}">Edit</a>
            <a href="{{url_for('deleteCatalogItem', category_name=category.name, item_id=item.id)}}">Delete</a>
          {% endif %}
          <br>
          <a href="{{url_for('catalog', category_name=category.name)}}">Back to {{category.name}}</a>
        </div>
      </div>
    </div>
  </body>
</html>
