<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')}}">
  </head>
  <body>
    <header>
      <script scr="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
      <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    </header>
    <div class = 'container'>
      <div class = 'navigation'>
        <h4>Sport:</h4>
        {% for i in links %}
        <a href='{{ url_for("catalog", category_name=i.name)}}'>{{i.name}}</a>
        <br>
        {% endfor %}
      </div>
      <div class = 'main'>
        <div id="signinButton">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="353408519635-qjrras6tuf5qlk7rk7rhitef7ai4obmo.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback">
          </span>
          <span class="fb-signin"></span>
        </div>
        <div id="result">

        </div>
      </div>
    </div>
  </body>
</html>
