<!DOCTYPE html>
<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')}}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
  </head>
  <body>
    <header>
      <div id='greeting'>
        <a href='/log'>{{g.login_button}}</a>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                <br>{{ message }}
              {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
      <h1>Udacity Sports Catalog</h1>
    </header>
    <div class = 'container'>
      <div class = 'navigation'>
        <div id = 'label'>
          <p>Sport:</p>
        </div>
        {% for i in g.links %}
        <a href='{{ url_for("catalog", category_name=i.name)}}'>{{i.name}}</a>
        <br>
        {% endfor %}
        <div id = 'newCategory'>
          {% if 'username' in session %}
            <a href='{{ url_for("newCategory")}}'>New Category</a>
          {% endif %}
        </div>
      </div>
      <div class = 'main'>
        {% block content %}
			  {% endblock %}
      </div>
    </div>
  </body>
</html>
